name: build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Build
        run: ./gradlew build --stacktrace

      # Generate coverage badges (instructions + branches)
      - name: Generate JaCoCo Badges
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: coverage-report/target/site/jacoco-aggregate/jacoco.csv
          generate-coverage-badge: true
          generate-branches-badge: true
          branches-label: "Test Coverage"

      - name: Commit and Force Push Latest Badge
        run: |
          if [[ $(git status --porcelain) ]]; then
            echo "Badge file changed. Committing and force pushing."
          
            git config user.name 'GitHub Actions Bot'
            git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
          
            git add -f .github/badges/branches.svg
            git commit -m "Update JaCoCo coverage badge [skip ci]"
          
            git push -f origin HEAD:coverage-badges
          else
            echo "No changes found. Skipping push."
          fi
