name: build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Build
        run: ./gradlew build --stacktrace

  badges:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle

      - name: Generate JaCoCo Badges
        uses: cicirello/jacoco-badge-generator@v2
        with:
          jacoco-csv-file: code-coverage-report/build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.csv
          generate-coverage-badge: true
          generate-branches-badge: true

      - name: Commit and Push Badge Updates
        run: |
          if [[ $(git status --porcelain) ]]; then
            git config user.name 'GitHub Actions Bot'
            git config user.email '41898282+github-actions[bot]@users.noreply.github.com'
            git add -f .github/badges/
            git commit -m "Update JaCoCo badges [skip ci]"
            git push -f origin HEAD:coverage-badges
          else
            echo "No changes."
          fi
